<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heure</title>
</head>
<body>
    <h1>Liste d'élèves:</h1>
    {% if eleves|length == 0  %}
     <P> Aucun élève ne correspond à la recherche! </P>
    {% else %}
        <ul>
            {% for eleve in eleves %}
            <li>{{eleve['nom']}} {{eleve['prenom']}}  (Classe: {{eleve['classe']}}) </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>