<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <h1>Accéder à mon compte : </h1>
    
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username }}
        {{form.password}}
        {{form.submit()}}
    </form>

    <li>Nouveau utilisateur?  <a href="{{url_for('register')}}"> Enregistrer vous ici...</a></li>
<br>
<br>
<br>

<li>Retour à la page principale:  <a href="{{url_for('index')}}"> Home...</a></li>


</body>

</html>